<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css" />
  <title>Login</title>
</head>
<body>
  <h1>Please Log In</h1>
  
  <% if (errors && errors.length > 0) { %>
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>
  
  <form action="/auth/log-in" method="POST">
    <label for="username">Username</label>
    <input name="username" placeholder="Username" type="text" />
    
    <label for="password">Password</label>
    <input name="password" type="password" />
    
    <button type="submit">Log In</button>
  </form>
  
  <a href="/auth/sign-up">Don't have an account? Create one</a>
</body>
</html>
