<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label for="firstName">First Name<span style="color: red">*</span></label>
      <input name="firstName" type="text" required />
      <label for="lastName">Last Name<span style="color: red">*</span></label>
      <input name="lastName" type="text" required />
      <label for="username">Username<span style="color: red">*</span></label>
      <input name="username" placeholder="username" type="text" required />
      <label for="email">Email</label>
      <input name="email" placeholder="email@email.com" type="email" />
      <label for="password">Password<span style="color: red">*</span></label>
      <input name="password" type="password" required />
      <label for="re-password"
        >Re-type Password<span style="color: red">*</span></label
      >
      <input name="re-password" type="password" required />
      <button>Sign Up</button>
    </form>
  </body>
</html>
